
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    background: linear-gradient(to left, lime 28px, red 77%, cyan);
}

.numeros{
    text-align: center;
    padding-top: 10%;
    

   
}
.numeros div{
    display: inline-block;
    font-size: 200px;
    color: white;
    padding: 10px;
    margin: 30px;

}
.buttons{
    padding-top: 50px;
}
